
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Work Sans", sans-serif;
}
/* header styles */
header{
    background-color: #eadccc;
    padding: 50px 240px;
} 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-tittle{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav ul{
    display: flex
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */

.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-tittle{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.text-light-gray{
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #fff;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

/* team section start */
main{
    max-width: 1440px;
    margin: 70px auto;
}

.teams-container{
    display: flex;
    align-items: center;
}

.teams-img-cointainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content{
    padding-left: 70px;
    padding-right: 61px;
}

.teams-tittle{
    font-size: 2.8rem;
}

.teams-tittle .Quick-list{
    font-weight: 500;
}

.teams-tittle .text-features{
    color: #FF900E;
    font-weight: 700;
}

/* feature section */
.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.features .section-tittle{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.feature-content .card{
    border-radius: 8px;
    background: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-img img{
    height: 90%;
    width: 30rem;
    margin-left: 90px;
}
.ten-years-badge{
    border-radius: 8px;
    background: #FF900E;
    color: #fff;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten-years-badge h2{
    font-size: 4rem;
    margin: 0;
}
.ten-years-badge p{
    font-size: 1.5rem;

}
/* facts section */
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container .card-tittle{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 5px;
}

/* sponsor section */

.sponsors-section{
    text-align: center;
    margin-top: 160px;
}

/* sponsor img */

.sponsors-img{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 130px;
}

/* copyright */

.copyright-section{
    background: #eadccc;
}
.copyright-section p{
    text-align: center;
    padding: 38px 320px;
}

/* media quaries */


/* mobile styles */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
    }
    nav, .teams-container, .features, .sponsors-img
    {
        flex-direction: column;
    }
    .feature-img img{
        width: 100%;
        margin-left: 0;
    }
    .copyright-section p{
        width: 100%;
        padding: 20px 0;
        margin-bottom: 50px;
    }
    .sponsors-img img{
        margin-top: 20px;
        margin-bottom: 20px;
        width: 80%;
        margin-left: 30px;
    }
    .sponsors-img{
        margin-bottom: 0;
    }
    .ten-years-badge{
        width: 300px;
        position: static;
    }
    .teams-img-cointainer{
        grid-template-columns: 1fr;
    }
    .teams-content{
        padding-left: 20px;
        padding-right: 21px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }
    .section-tittle{
        text-align: center;
        margin-bottom: 0px;
    }
    .facts-description{
        padding: 0 20px;
    }
    .more-btn{
        margin-left: 75px;
    }

}

/* tablet styles */

@media screen and (min-width: 576px) and (max-width:960px) {
    nav, .teams-container, .features{
        flex-direction: column;
    } 
    .section-tittle{
        text-align: center;
        margin-bottom: 0px;
    }
    .facts-description{
        padding: 0 70px;
    }
    .facts-card-container{
        gap: 20px;
        padding: 0 70px;
    }
    .more-btn{
        margin-left: 255px;
    }
    .teams-tittle{
        text-align: center;
    }
}
